.points-board {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.points-board th, .points-board td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.points-board th {
    background-color: #f2f2f2;
    color: black;
}
